<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
        </staticContent>
        <handlers>
            <add name="Helicon.Ape Handler" path="*.apehandler" verb="*" type="Helicon.Ape.Handler, Helicon.Ape, Version=3.1.0.134, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <modules>
            <add name="Helicon.Ape" type="Helicon.Ape.ApeModule, Helicon.Ape, Version=3.1.0.134, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" />
        </modules>
    </system.webServer>
</configuration>
